.padding-2 {
  padding: 2rem;
}

.margin-2-top {
  margin-top: 2rem;
}

.margin-3-top {
  margin-top: 1rem;
}

.margin-2-bottom {
  margin-bottom: 2rem;
}

.margin-3-bottom {
  margin-bottom: 1rem;
}

.margin-3-left {
  margin-left: 1rem;
}

.cardIsHome {
  width: 320px;
  margin: 1rem auto;
  text-align: left;
}
